CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxx
CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
REDIRECT_URI=https://xxxxxxxxxxxx.cloudfront.net
ISSUER_URI=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_xxxxxxx
DOMAIN=https://<userpooldomain>
USER_POOL_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxx